<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Database Overview</title>
    <link rel="stylesheet" href="public/css/output.css">
</head>
<body class="bg-northwesternPurple text-white">
    <h1 class="text-4xl font-bold mt-10">Database Overview</h1>
    
    <h2 class="text-2xl mt-6">Employees</h2>
    <table class="mt-4 border-collapse border border-white">
        <tr class="bg-white text-northwesternPurple">
            <th class="border border-white py-2 px-4">ID</th>
            <th class="border border-white py-2 px-4">First Name</th>
            <th class="border border-white py-2 px-4">Last Name</th>
            <th class="border border-white py-2 px-4">Email</th>
            <th class="border border-white py-2 px-4">Phone Number</th>
            <th class="border border-white py-2 px-4">Hire Date</th>
            <th class="border border-white py-2 px-4">Job Title</th>
            <th class="border border-white py-2 px-4">Salary</th>
            <th class="border border-white py-2 px-4">Department</th>
        </tr><br><br>
        <% employees.forEach(employee => { %>
            <tr class="bg-white text-northwesternPurple">
                <td class="border border-white py-2 px-4"><%= employee.employee_id %></td>
                <td class="border border-white py-2 px-4"><%= employee.first_name %></td>
                <td class="border border-white py-2 px-4"><%= employee.last_name %></td>
                <td class="border border-white py-2 px-4"><%= employee.email %></td>
                <td class="border border-white py-2 px-4"><%= employee.phone_number %></td>
                <td class="border border-white py-2 px-4"><%= employee.hire_date %></td>
                <td class="border border-white py-2 px-4"><%= employee.job_title %></td>
                <td class="border border-white py-2 px-4"><%= employee.salary %></td>
                <td class="border border-white py-2 px-4"><%= employee.Department.name %></td>
            </tr>
        <% }); %>
    </table>
    
    <h2 class="text-2xl mt-6">Departments</h2>
    <table class="mt-4 border-collapse border border-white">
        <tr class="bg-white text-northwesternPurple">
            <th class="border border-white py-2 px-4">ID</th>
            <th class="border border-white py-2 px-4">Name</th>
            <th class="border border-white py-2 px-4">Location</th>
        </tr>
        <% departments.forEach(department => { %>
            <tr class="bg-white text-northwesternPurple">
                <td class="border border-white py-2 px-4"><%= department.department_id %></td>
                <td class="border border-white py-2 px-4"><%= department.name %></td>
                <td class="border border-white py-2 px-4"><%= department.location %></td>
            </tr>
        <% }); %>
    </table>
</body>
</html>