<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Database Overview</title>
    <link rel="stylesheet" href="/css/output.css">
</head>
<body>
    <h1>Database Overview</h1>
    
    <h2>Employees</h2>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Hire Date</th>
            <th>Job Title</th>
            <th>Salary</th>
            <th>Department</th>
        </tr>
        <% employees.forEach(employee => { %>
            <tr>
                <td><%= employee.employee_id %></td>
                <td><%= employee.first_name %></td>
                <td><%= employee.last_name %></td>
                <td><%= employee.email %></td>
                <td><%= employee.phone_number %></td>
                <td><%= employee.hire_date %></td>
                <td><%= employee.job_title %></td>
                <td><%= employee.salary %></td>
                <td><%= employee.Department.name %></td>
            </tr>
        <% }); %>
    </table>
    
    <h2>Departments</h2>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Location</th>
        </tr>
        <% departments.forEach(department => { %>
            <tr>
                <td><%= department.department_id %></td>
                <td><%= department.name %></td>
                <td><%= department.location %></td>
            </tr>
        <% }); %>
    </table>
</body>
</html>